<div class="container">
    <div class="card text-bg-dark text-center" ng-if="quizList.finalsubmit">
        <div class="card-header">
            Assessment Attempt 
            <button onClick="window.location.reload();" class="btn btn-primary" style="vertical-align: revert;">Retake quiz</button>
        </div>
        <div class="card-body">
            <h5 class="card-title">Attempt 1</h5>
            <div class="card-text row">
                <div class="col-md-4">Date</div>
                <div class="col-md-4">Best Score</div>
                <div class="col-md-4">Total Time</div>
            </div>
            <hr>
            <div class="col-md-12 row">
                <div class="col-md-6">
                    <chartist class="ct-chart ct-golden-section" chartist-data="quizList.pieData" chartist-chart-type="Pie"
                        chartist-chart-options="quizList.donutOptions"></chartist>
                    <span id="score_outof">{{quizList.totalCorrAns2}}/{{quizList.quiz.questions.length}}</span>
                </div>
                <div class="col-md-6 text-left" style="text-align: left;">
                    <ul class="list-group">
                        <li class="list-group-item align-items-left">
                            <i class="fa-solid fa-check" style="color: #1dfc37;"></i> Correct Answers
                            <span class="badge bg-primary rounded-pill">{{quizList.totalCorrAns2}} </span>
                        </li>
                        <li class="list-group-item align-items-left">
                            <i class="fa-solid fa-xmark" style="color: #fb132a;"></i> Wrong Answers
                            <span class="badge bg-primary rounded-pill">{{quizList.totalWrongAns2}}</span>
                        </li>
                        <li class="list-group-item align-items-left">
                            <i class="fa-solid fa-do-not-enter" style="color: #f6fa00;"></i> Unanswered
                            <span class="badge bg-primary rounded-pill">{{quizList.totalNotAns2}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>
    <div class="card  text-bg-dark"  ng-if="!quizList.finalsubmit">
        <div class="card-header text-center">Assessment Test</div>
        <div class="card-body text-left">
            <wizard on-finish="quizList.submitForm1(qdata)" on-cancel="cancelledWizard()" indicators-position="bottom"
                name="customOrderWizard">
                <form ng-submit="quizList.submitForm(qdata)">
                    <wz-step ng-repeat="q in quizList.quiz.questions" canexit="exitValidation" step
                        wz-title="Que {{$index+1}}" wz-order="{{$index+1}}">
                        <label for="checkbox">{{$index+1}}. {{q.name}}</label>
                        <input type="hidden" value="{{quizList.currentQueId}}" data-qid="{{q.id}}"
                            ng-init="quizList.disQue[q.id]=false">
                        <input type="hidden" ng-model="quizList.que[q.id]" id="qid{{$index+1}}" name="qdata.que[]"
                            value="{{q.id}}">
                        <!-- <ul> -->
                        <div ng-repeat="o in q.options">
                            <div class="form-check">
                                <label class="form-check-label" for="ans{{q.id}}{{o.id}}"
                                    ng-class="q.submited_option==o.id && quizList.finalsubmit ? (o.isAnswer ? 'ans-success':'ans-danger') : q.submited_option!=o.id && quizList.finalsubmit ? (o.isAnswer ? 'ans-success':'ans-danger')">{{o.name}}</label>
                                <input class="form-check-input" type="radio" id="ans{{q.id}}{{o.id}}"
                                    ng-init="quizList.ans[q.id]=false" ng-click="quizList.ans[q.id]=true"
                                    ng-model="q.submited_option" name="qdata.ans{{q.id}}" value="{{o.id}}"
                                    ng-disabled="quizList.disQue[q.id]">
                                <span ng-if="q.submited_option==o.id && quizList.finalsubmit">
                                    <span ng-class="o.isAnswer ? 'ans-success':'ans-danger'">
                                        <i class="fa-solid fa-check" ng-if="o.isAnswer"></i>
                                        <i class="fa-solid fa-xmark" ng-if="!o.isAnswer"></i>
                                    </span>
                                </span>
                                <span ng-if="q.submited_option!=o.id && quizList.finalsubmit"><span
                                        ng-class="o.isAnswer ? 'ans-success':'ans-danger'">{{o.isAnswer ? 'Correct
                                        ans':''}}</span></span>
                            </div>
                        </div>
                        <!-- </ul> -->
                        <div class="col-md-12 row">
                            <div class="col-md-6 mt-4">
                                <span ng-if="!quizList.finalsubmit">Q{{quizList.step}}/{{quizList.quiz.questions.length}}</span>                                
                                <span ng-if="!quizList.finalsubmit" ng-class="quizList.countdown==0 ? 'text-danger':''">&nbsp;|&nbsp;&nbsp;<i
                                        class="fa-solid fa-stopwatch-20"></i>
                                    {{quizList.countdown}}</span>
                                <span ng-if="quizList.finalsubmit">
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    {{quizList.totalAtemp2.length}}/{{quizList.quiz.questions.length}} Que Attempt
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    {{quizList.totalCorrAns2}} Correct Ans
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    {{quizList.totalWrongAns2}} Wrong Ans
                                </span>
                            </div>
                            <div class="col-md-6 text-right next_pre_btn_div">
                                <span class="color-red"
                                    ng-if="quizList.ans[q.id]==false && quizList.showQzTimeReqEror || ">{{quizList.showQzTimeReqErorMsg}}</span><br>
                                <!-- <hr> -->
                                <input type="button" class="btn btn-primary"
                                    ng-if="quizList.step!=1 && quizList.finalsubmit"
                                    wz-previous="quizList.wizardClick('back')" value="Back" />
                                <input type="button" class="btn btn-primary" ng-init="quizList.step=1"
                                    wz-next="quizList.wizardClick('next',q,qdata)" value="Next"
                                    ng-disabled="quizList.ans[q.id]==false && quizList.disQue[q.id]==false"
                                    ng-hide="quizList.step==quizList.quiz.questions.length" />
                                <!-- for final submit button -->
                                <input type="submit" class="btn btn-primary"
                                    ng-click="quizList.wizardClick('final',qdata)" wz-next value="Submit"
                                    ng-if="quizList.step==quizList.quiz.questions.length && !quizList.finalsubmit"
                                    ng-disabled="quizList.ans[q.id]==false && quizList.disQue[q.id]==false" />
                            </div>
                        </div>
                    </wz-step>
                </form>
            </wizard>
        </div>
    </div>
</div>